.app-utility-bar {
  height: 32px;
}

.app-utility-bar .container,
.app-utility-bar .row {
  height: 100%;
}

.app-utility-bar .row {
  align-items: center;
}

.app-utility-bar .col {
  display: flex;
  align-items: center;
}

.app-utility-bar--left .col {
  justify-content: flex-start;
}

.app-utility-bar--right .col {
  justify-content: flex-end;
}
