.app-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.app-footer--transparent {
  background: none !important;
}

.app-footer--sticky {
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.app-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  margin: 0 auto;
}

.app-footer--full-bleed .app-footer__container {
  max-width: 100%;
}
