:root {
  --header-height: 80px;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height, 80px);
}

.app-header--bordered {
  border-bottom: solid 1px var(--color-background-tertiary);
}

.app-header--transparent {
  background: none !important;
}

.app-header--sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.app-header > .container,
.app-header > .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.app-header > .container-fluid {
  max-width: 100%;
}

.app-header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.app-header .logo {
  z-index: var(--z-index-modal, 1050);
}

@media (max-width: 1199px) {
  .app-header .nav-bar,
  .app-header .social-nav-links {
    display: none;
  }
}

@media (min-width: 1200px) {
  .app-header .navmenu,
  .app-header .navmenu__button {
    display: none;
  }
}
