.badge {
  display: inline-block;
  min-width: 48px;
  margin: 8px;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.badge:first-child {
  margin-left: 0;
}

.badge:last-child {
  margin-right: 0;
}

.badge--filled {
  background-color: var(--color-theme-foreground, black);
  color: var(--color-theme-background, white);
}

.badge--outline {
  border: solid 1px var(--color-theme-foreground, black);
  color: var(--color-theme-foreground, black);
}
