.button-skin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-button-primary);
  border: solid 1px var(--color-button-primary);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.button-skin:hover:not(:disabled),
.button-skin:focus:not(:disabled),
.button-skin:active:not(:disabled) {
  background-color: var(--color-button-primary);
  color: var(--color-button-secondary);
}

.button-skin > .icon > svg {
  fill: var(--color-button-primary);
  transition: fill 0.3s;
}

.button-skin:hover:not(:disabled) > .icon > svg,
.button-skin:focus:not(:disabled) > .icon > svg,
.button-skin:active:not(:disabled) > .icon > svg {
  fill: var(--color-button-secondary);
}

.button--sm,
.button--small {
  padding: 8px 16px;
  font-size: 0.75rem;
  line-height: 1.5em;
}

.button--sm.button--rounded,
.button--small.button--rounded {
  border-radius: 24px;
}

.button--sm > .icon,
.button--small > .icon {
  width: 16px;
  height: 16px;
}

.button--sm > .icon > i,
.button--small > .icon > i {
  font-size: 16px;
}

.button--md,
.button--medium {
  padding: 12px 24px;
  font-size: 1.0rem;
  line-height: 1.5em;
}

.button--md.button--rounded,
.button--medium.button--rounded {
  border-radius: 32px;
}

.button--md > .icon,
.button--medium > .icon {
  width: 20px;
  height: 20px;
}

.button--md > .icon > i,
.button--medium > .icon > i {
  font-size: 20px;
}

.button--lg,
.button--large {
  padding: 16px 32px;
  font-size: 1.25rem;
  line-height: 1.5em;
}

.button--lg.button--rounded,
.button--large.button--rounded {
  border-radius: 40px;
}

.button--lg > .icon,
.button--large > .icon {
  width: 24px;
  height: 24px;
}

.button--lg > .icon > i,
.button--large > .icon > i {
  font-size: 24px;
}

.button--circle {
  border-radius: 50%;
}
