.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 12px;
}

.contact-form input:not([type="submit"]),
.contact-form textarea {
  width: 100%;
}

.contact-form textarea {
  resize: none;
  min-height: 120px;
}
