.image-gallery {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.image-gallery__thumbnails {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.image-gallery__thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
