.input-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
}

.input-wrapper--icon input {
  padding-left: 32px;
}

.input-wrapper > .icon {
  position: absolute;
  top: 9px;
  left: 9px;
  pointer-events: none;
  font-size: 18px;
  color: var(--color-on-surface-medium);
}
