.input-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
}

.input-wrapper--icon input {
  padding-left: 32px;
}

.input-wrapper > .icon {
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  font-size: 21px;
  color: var(--color-gray);
}

/* .input-wrapper input:focus ~ .icon {
  color: var(--color-dark);
} */
