.link--underlined {
  border-bottom: solid 1px var(--color-primary, inherit);
  text-decoration: none;
}

.link--undecorated {
  border-bottom: solid 1px transparent;
  text-decoration: none;
  color: inherit;
}

.link--undecorated:visited {
  color: inherit;
}
