.logo.xs { height: 32px; }
.logo.sm { height: 48px; }
.logo.md { height: 72px; }
.logo.lg { height: 96px; }
.logo.xl { height: 128px; }

.logo--adjust-margin.xs { margin-left: -8px; }
.logo--adjust-margin.sm { margin-left: -12px; }
.logo--adjust-margin.md { margin-left: -16px; }
.logo--adjust-margin.lg { margin-left: -20px; }
.logo--adjust-margin.xl { margin-left: -24px; }

.logo-button {
  height: 100%;
  transition: transform 0.2s;
  pointer-events: all !important;
  cursor: pointer;
}

.logo-button:hover {
  transform: scale(1.05);
}

.logomark .logo-button:hover {
  transform: scale(1.1);
}

.logo-button:focus-visible {
  outline-offset: -16px;
}

.logo-image {
  height: 100%;
  pointer-events: none;
}

.logo--shadowed .logo-image {
  -webkit-filter: drop-shadow(0 1px 2px rgba(16, 16, 16, 0.4));
  filter: drop-shadow(0 1px 2px rgba(16, 16, 16, 0.4));
}
