.logo.xs,
.logo.extraSmall {
  height: 32px;
}

.logo.sm,
.logo.small {
  height: 48px;
}

.logo.md,
.logo.medium {
  height: 72px;
}

.logo.lg,
.logo.large {
  height: 96px;
}

.logo.xl,
.logo.extraLarge {
  height: 128px;
}

.logo--adjust-margin.xs,
.logo--adjust-margin.extraSmall {
  margin-left: -4px;
}

.logo--adjust-margin.sm,
.logo--adjust-margin.small {
  margin-left: -8px;
}

.logo--adjust-margin.md,
.logo--adjust-margin.medium {
  margin-left: -12px;
}

.logo--adjust-margin.lg,
.logo--adjust-margin.large {
  margin-left: -16px;
}

.logo--adjust-margin.xl,
.logo--adjust-margin.extraLarge {
  margin-left: -20px;
}

.logo-button {
  height: 100%;
  pointer-events: all !important;
  cursor: pointer;
  transition: opacity 0.2s;
}

.logo-button:hover {
  opacity: 0.8;
}

.logo-button:focus-visible {
  outline-offset: -16px;
}

.logo-image {
  height: 100%;
  pointer-events: none;
}

.logo--shadowed .logo-image {
  -webkit-filter: drop-shadow(0 1px 2px rgba(16, 16, 16, 0.4));
  filter: drop-shadow(0 1px 2px rgba(16, 16, 16, 0.4));
}
