.logo {
  display: inline-block;
  fill: var(--color-theme-foreground);
}

.logo.xs,
.logo.extraSmall {
  height: 32px;
}

.logo.sm,
.logo.small {
  height: 48px;
}

.logo.md,
.logo.medium {
  height: 72px;
}

.logo.lg,
.logo.large {
  height: 96px;
}

.logo.xl,
.logo.extraLarge {
  height: 128px;
}

.logo.dark {
  fill: var(--color-light, white);
}

.logo.light {
  fill: var(--color-dark, black);
}

.logo svg {
  height: 100%;
  fill: inherit;
}

.logo img {
  height: 100%;
}

.logo button {
  height: 100%;
  pointer-events: all !important;
  cursor: pointer;
  transition: opacity 0.2s;
}

.logo button:hover {
  opacity: 0.8;
}

.logo button:focus-visible {
  outline-offset: -16px;
}
