.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-fixed, 1030);
  background: none !important;
}

.nav-menu--animated {
  transition: visibility 200ms;
}

.nav-menu--open {
  pointer-events: all;
  visibility: visible;
}

.nav-menu--closed {
  pointer-events: none;
  visibility: hidden;
}

.nav-menu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-overlay, 1040);
}

.nav-menu--animated .nav-menu__overlay {
  transition: opacity 200ms;
}

.nav-menu--animated.nav-menu--open .nav-menu__overlay  {
  opacity: 1;
}

.nav-menu--animated.nav-menu--closed .nav-menu__overlay  {
  opacity: 0;
}

.nav-menu__container {
  position: relative;
  height: calc(100% - var(--header-height, 72px) * 2);
  margin-top: calc(var(--header-height, 72px) * 1.5);
  margin-bottom: var(--header-height, 72px * 0.5);
  z-index: var(--z-index-modal, 1050);
}

.nav-menu__container .social-nav-links {
  margin-left: -8px;
}

.nav-menu__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  height: 100%;
}

.nav-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  pointer-events: all !important;
  transition: transform 200ms;
}

.nav-menu__button img {
  width: 50%;
  height: 50%;
}

.nav-menu__button:hover:not(:disabled) {
  transform: scale(1.1);
}

.nav-menu__list {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
  list-style: none;
  white-space: nowrap;
}

.nav-menu--animated .nav-menu__item {
  transition: opacity 200ms;
}

.nav-menu--animated.nav-menu--open .nav-menu__item {
  opacity: 1;
}

.nav-menu--animated.nav-menu--closed .nav-menu__item {
  opacity: 0;
}

.nav-menu__item > a {
  color: inherit;
}

.nav-menu__item > a:hover {
  border: none;
}

@media (min-width: 360px) {
  .nav-menu__list {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .nav-menu__list {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .nav-menu__list {
    font-size: 3rem;
  }
}
