.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.nav-bar__item {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 600;
  font-size: 15px;
}

.nav-bar__item a {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;
  transition: color 0.3s;
  text-decoration: none;
  font-weight: 500;
  color: var(--theme-nav-skin-color);
}

.nav-bar__item a:hover,
.nav-bar__item a:active {
  border-bottom: none;
  color: var(--theme-nav-skin-decoration-color);
}

.nav-bar__item a.selected {
  text-decoration: none;
  border-bottom: solid 1px var(--theme-nav-skin-decoration-color);
}
