.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: var(--z-index-fixed, 1030);
}

.navmenu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background, white);
  z-index: var(--z-index-overlay, 1040);
}

.navmenu__container {
  position: relative;
  height: calc(100% - var(--header-height, 80px) * 2);
  margin-top: calc(var(--header-height, 80px) * 1.5);
  margin-bottom: calc(var(--header-height, 80px) * 0.5);
  z-index: var(--z-index-menu, 1050);
}

.navmenu__container .social-nav-links {
  fill: var(--color-on-background, black);
  margin-left: -8px;
}

.navmenu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  height: 100%;
}

.navmenu__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  color: var(--color-on-background, black);
  pointer-events: all !important;
  transition: transform 200ms;
}

.navmenu__button:hover:not(:disabled) {
  transform: scale(1.1);
}

.navmenu__list {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
  list-style: none;
  white-space: nowrap;
}

.navmenu__item {
  color: var(--color-on-background, black);
  margin-bottom: 0.5rem;
}

.navmenu__item > a {
  color: inherit;
  font-weight: 600;
  border-bottom: none !important;
}

.navmenu--open {
  pointer-events: all;
  visibility: visible;
}

.navmenu--closed {
  pointer-events: none;
  visibility: hidden;
}

.navmenu--animated {
  transition: visibility 200ms;
}

.navmenu--animated .navmenu__overlay,
.navmenu--animated .navmenu__item {
  transition: opacity 200ms;
}

.navmenu--animated.navmenu--open .navmenu__overlay,
.navmenu--animated.navmenu--open .navmenu__item {
  opacity: 1;
}

.navmenu--animated.navmenu--closed .navmenu__overlay,
.navmenu--animated.navmenu--closed .navmenu__item {
  opacity: 0;
}

@media (min-width: 360px) {
  .navmenu__list {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .navmenu__list {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .navmenu__list {
    font-size: 3rem;
  }
}
