.page-banner {
  position: relative;
  width: 100%;
  z-index: 0;
}

.page-banner::before {
  content: "";
  background: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  margin-left: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -1;
}

.page-banner--transparent::before {
  background: none !important;
}

.page-banner--xs,
.page-banner--extraSmall {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-banner--sm,
.page-banner--small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-banner--md,
.page-banner--medium {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-banner--lg,
.page-banner--large {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.page-banner--xl,
.page-banner--extraLarge {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
