.page-banner {
  position: relative;
  width: 100%;
  z-index: 0;
}

.page-banner__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent !important;
  z-index: 5;
}

.page-banner::before {
  content: "";
  background-color: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  margin-left: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -1;
}

.page-banner--header {
  margin-top: -160px;
  margin-bottom: 40px;
}

.page-banner--shadowed::before {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.page-banner--transparent::before {
  background: none !important;
}

.page-banner--xs,
.page-banner--extraSmall {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-banner--sm,
.page-banner--small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.page-banner--md,
.page-banner--medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.page-banner--lg,
.page-banner--large {
  padding-top: 6em;
  padding-bottom: 6em;
}

.page-banner--xl,
.page-banner--extraLarge {
  padding-top: 8em;
  padding-bottom: 8em;
}

@media (min-width: 1200px) {
  .page-banner__container {
    flex-direction: row;
    align-items: center;
  }

  .page-banner--reversed .page-banner__container {
    flex-direction: row-reverse;
  }
}
