.progressive-image {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  height: auto;
  max-width: 100%;
}

.progressive-image__placeholder {
  position: absolute;
  filter: blur(1px);
  transition: opacity ease-in 600ms;
  clip-path: inset(0);
}

.progressive-image--loaded .progressive-image__placeholder {
  opacity: 0;
}

@media (hover: hover) {
  .progressive-image--no-placeholder .progressive-image__source {
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in 200ms, visibility ease-in 200ms;
  }

  .progressive-image--no-placeholder.progressive-image--loaded .progressive-image__source {
    opacity: 1;
    visibility: visible;
  }
}
