.progressive-image__overlay {
  position: absolute;
  filter: blur(1px);
  transition: opacity ease-in 600ms;
  clip-path: inset(0);
}

.progressive-image--loaded .progressive-image__overlay {
  opacity: 0;
}

.progressive-image--no-placeholder .progressive-image__source {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms, visibility 200ms;
}

.progressive-image--no-placeholder.progressive-image--loaded .progressive-image__source {
  opacity: 1;
  visibility: visible;
}
