.sidedrawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: var(--z-index-fixed, 1030);
}

.sidedrawer__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-on-background, black);
  opacity: var(--opacity-overlay, 0.32);
  z-index: var(--z-index-overlay, 1040);
}

.sidedrawer__container {
  position: relative;
  left: 0;
  width: 287px;
  height: 100%;
  margin-right: auto;
  color: var(--color-on-background, black);
  background-color: var(--color-background, white);
  box-shadow: .25rem 0 .5rem rgba(0, 0, 0, 10%);
  z-index: var(--z-index-menu, 1050);
}

.sidedrawer__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  color: var(--color-on-surface-high);
  pointer-events: all !important;
  transition: transform 200ms;
}

.sidedrawer__button:hover:not(:disabled) {
  transform: scale(1.1);
}

.sidedrawer--open {
  pointer-events: all;
  visibility: visible;
}

.sidedrawer--closed {
  pointer-events: none;
  visibility: hidden;
}

.sidedrawer--animated {
  transition: visibility 200ms;
}

.sidedrawer--animated .sidedrawer__overlay {
  transition: opacity 200ms;
}

.sidedrawer--animated .sidedrawer__container {
  transition: transform 200ms;
}

.sidedrawer--animated.sidedrawer--open .sidedrawer__overlay  {
  opacity: var(--opacity-overlay, 0.32);
}

.sidedrawer--animated.sidedrawer--closed .sidedrawer__overlay  {
  opacity: 0;
}

.sidedrawer--animated.sidedrawer--open .sidedrawer__container  {
  transform: translateX(0);
}

.sidedrawer--animated.sidedrawer--closed .sidedrawer__container  {
  transform: translateX(-287px);
}
