.social-button:hover:not(:disabled) svg,
.social-button:focus:not(:disabled) svg,
.social-button:active:not(:disabled) svg {
  fill: var(--color-button-secondary);
}

.social-button.paypal path {
  transition: fill 100ms;
}

.social-button.paypal:hover:not(:disabled) path:nth-child(1),
.social-button.paypal:focus:not(:disabled) path:nth-child(1),
.social-button.paypal:active:not(:disabled) path:nth-child(1),
.social-button.paypal:hover:not(:disabled) path:nth-child(4),
.social-button.paypal:focus:not(:disabled) path:nth-child(4),
.social-button.paypal:active:not(:disabled) path:nth-child(4) {
  fill: #fff;
}

.social-button.paypal:hover:not(:disabled) path:nth-child(2),
.social-button.paypal:focus:not(:disabled) path:nth-child(2),
.social-button.paypal:active:not(:disabled) path:nth-child(2) {
  fill: #adcee4;
}

.social-button.paypal:hover:not(:disabled) path:nth-child(3),
.social-button.paypal:focus:not(:disabled) path:nth-child(3),
.social-button.paypal:active:not(:disabled) path:nth-child(3) {
  fill: #e6eff6;
}
