.social-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.social-nav-links__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.social-nav-links__item {
  transition: opacity 0.3s, transform 0.3s;
}

.social-nav-links__list:hover .social-nav-links__item {
  opacity: 0.5;
}

.social-nav-links__item:hover {
  opacity: 1 !important;
  transform: scale(1.1);
}
