.thumbnail {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-bottom: none !important;
  text-align: center;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  transition: filter 0.2s;
}

.thumbnail:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.thumbnail--rounded {
  border-radius: 0.25rem;
  overflow: hidden;
}
