.thumbnail {
  position: relative;
  display: inline-flex;
  box-sizing: content-box;
  overflow: hidden;
  height: auto;
  max-width: 100%;
  border-bottom: none !important;
  text-align: center;
}

@media (hover: hover) {
  a.thumbnail {
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  a.thumbnail:hover {
    transform: translateY(-4px);
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 20px;
  }
}

@media (hover: none) {
  .thumbnail {
    animation: 0;
  }
}
